{% extends 'common/base.html' %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Kabbage test!</h1>
            <p>{% trans "As a Kabbage developer, I want to see how you code a lightweight application, so that I can get a feel for a your skills and strengths." %}</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'common:search' %}" role="button">Search</a></p>
        </div><!-- container -->
    </div><!-- jumbotron -->
</div><!-- container -->

{% endblock %}
